@import "normalize.css";
@keyframes loading2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  font-size: 10px;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 2px #000;
}

.img-change__left, .img-change__right {
  padding: 0px 1.6em;
  font-size: 1.9em;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}

.dot-stretching::after, .dot-stretching::before, .dot-stretching {
  width: 5px;
  height: 5px;
}

.doggy {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
.doggy__img {
  object-fit: cover;
  height: 50%;
  width: 50%;
}

.wrapp-all {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  padding: 0 20px;
}

.background-image {
  width: 100vw;
  height: 100vh;
  transition: background-image 1s ease-in-out;
  position: absolute;
  z-index: -10;
}
.background-image__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 0.5s;
}
.background-image__img.delete {
  transition: 0.5s;
  opacity: 0;
}

.list-img {
  position: absolute;
}
.flicker {
  position: absolute;
}

.top {
  padding: 10px 0 0 0;
  font-size: 10px;
}
.top .content {
  display: flex;
  justify-content: space-between;
}

.img-change {
  display: flex;
  align-items: center;
}
.img-change__img {
  width: 5.2em;
  height: 5.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}
.img-change__img.animated {
  animation: loading2 linear 0.7s infinite;
  transition: 0.5s;
}
.img-change__img:hover {
  cursor: pointer;
}
.img-change__img-in {
  object-fit: cover;
  height: 70%;
  width: 70%;
}
.img-change__buttons {
  display: flex;
  flex-direction: column;
}
.img-change__right {
  margin-bottom: 5px;
  visibility: hidden;
}
.img-change__left {
  visibility: hidden;
}
.img-change__right:hover {
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.9);
}
.img-change__left:hover {
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.9);
}
.img-change__right:active {
  transition: 0s;
  transform: scale(1.05);
}
.img-change__left:active {
  transition: 0s;
  transform: scale(1.05);
}

.img-change:hover .img-change__right {
  visibility: visible;
}
.img-change:hover .img-change__left {
  visibility: visible;
}

.main-block {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 20px 0;
}

.weather {
  position: relative;
  color: #fff;
}
.weather__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather__load {
  height: 74px;
  width: 74px;
  animation: loading2 linear 0.7s infinite;
}
.weather__img-load {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.weather__newCity {
  width: 100%;
  position: absolute;
  display: none;
  background: transparent;
  border-bottom: 3px solid #fff;
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.metric {
  display: flex;
}
.metric__city {
  font-size: 2em;
}

.metric:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.owf {
  font-size: 7em;
}

.temperature {
  font-size: 4em;
}

.weather-description {
  text-align: center;
  font-size: 3em;
}

.time {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0 10px 0;
}
.time__text {
  font-size: 14rem;
  color: #fff;
}

#hour.change {
  text-shadow: none;
  color: transparent;
  transition: 0.5s;
}

#minutes.change {
  text-shadow: none;
  color: transparent;
  transition: 0.5s;
}

#seconds.change {
  text-shadow: none;
  color: transparent;
  transition: 0.5s;
}

.week {
  padding: 10px 0 0 0;
}
.week__today {
  font-size: 5rem;
  color: #fff;
}

.dot {
  position: absolute;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50px;
  right: -100px;
}

.dot:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
}

.dot-stretching {
  position: relative;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

.dot-stretching::before, .dot-stretching::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-stretching::before {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  left: 10px;
}

.dot-stretching::after {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  right: 10px;
}

.greetings {
  position: relative;
  font-size: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 0 0 10px 0;
}
.greetings__welcome {
  font-size: 4em;
  color: #fff;
}
.greetings__name {
  transition: 1s;
  display: none;
  position: relative;
  font-size: 4em;
  color: #fff;
}
.greetings__enter-name {
  width: 50%;
  background: transparent;
  border-bottom: 3px solid #fff;
  transition: 1s;
  font-size: 3em;
  color: #fff;
  text-align: center;
}
.greetings__button {
  font-size: 3em;
  background-color: transparent;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.7);
}

.windowColor {
  width: 10rem;
  position: absolute;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.windowColor__blue {
  width: 100%;
  margin: 5px;
  background-color: #009999;
  cursor: pointer;
  height: 30px;
}
.windowColor__yellow {
  width: 100%;
  margin: 5px;
  background-color: #1240AB;
  cursor: pointer;
  height: 30px;
}
.windowColor__red {
  width: 100%;
  margin: 5px;
  background-color: #FFAA00;
  cursor: pointer;
  height: 30px;
}
.windowColor__gray {
  width: 100%;
  margin: 5px;
  background-color: #FF7400;
  cursor: pointer;
  height: 30px;
}

.blue {
  transition: 1s;
  color: #009999;
}

.yellow {
  transition: 1s;
  color: #1240AB;
}

.red {
  transition: 1s;
  color: #FFAA00;
}

.gray {
  transition: 1s;
  color: #FF7400;
}

.target {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.target__today {
  font-size: 3em;
  color: #fff;
}

.todo {
  position: relative;
  display: flex;
  justify-content: center;
  height: 49px;
}
.todo__done {
  width: 70%;
  margin-top: 3px;
  background: transparent;
  border-bottom: 3px solid #fff;
  font-size: 3em;
  color: #fff;
  text-align: center;
}
.todo__todo {
  margin: 0 10px;
  display: none;
  font-size: 3em;
  align-self: center;
  color: #fff;
}

.todo:hover .todo__close {
  transition: 0.5s;
  color: white;
  cursor: pointer;
}

.quote-wrapper {
  width: 55%;
  position: relative;
  margin: 0 auto;
}

.quote {
  display: flex;
  justify-content: center;
}
.quote__text {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  margin-right: 5px;
}
.quote__btn {
  padding: 10px;
  align-self: flex-end;
  position: absolute;
  left: -14rem;
}
.quote__btn:hover {
  transform: scale(1.1);
}
.quote__author {
  position: absolute;
  right: -14rem;
  align-self: flex-end;
  color: #fff;
  font-size: 2rem;
}

@media (max-width: 1440px) {
  .top {
    font-size: 12px;
  }
}
@media (max-width: 640px) {
  :root {
    font-size: 8px;
  }

  .dot {
    display: none;
  }
}
@media (max-width: 500px) {
  :root {
    font-size: 7px;
  }
}
@media (max-width: 446px) {
  :root {
    font-size: 6px;
  }

  .top {
    font-size: 8px;
  }

  .target {
    font-size: 7px;
  }

  .greetings {
    font-size: 7px;
  }

  .todo {
    font-size: 7px;
  }

  .quote-btn {
    padding: 4px;
    font-size: 2rem;
  }
}
@media (max-width: 380px) {
  :root {
    font-size: 5px;
  }
}