*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 1;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.calculate-help-en {
  width: 30%;
  padding: 20px;
  
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #fff;

  border: #000 solid 2px;
  border-radius: 5px;
  line-height: 150%;
}
.calculate-help-en__how-use {
  font-family: Arial, Helvetica, sans-serif
}

.calculate-help-en__instruction {
  font-family: Arial, Helvetica, sans-serif;
}

.calculate-help-en__okay {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.calculate-help-en__end-button {
  right: 5px;
  top: 5px;

  position: absolute;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 15px;

  transition: 0.5s;
}
.calculate-help-en__end-button:hover {
  background-color: rgba(0, 0, 0, .06);
  font-size: 20px;

  transition: 0.5s;
}
.calculate-help-en__end-button:active {
  background-color: rgba(0, 0, 0, .1);
}

@media(max-width: 700px) {
  .calculate-help-en {
    width: 100%;
  }
}