:root {
    font-size: 10px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}
.gem-puzzle-wrapper {
    margin: 0 auto;

    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.gem-puzzle-wrapper.finish {
    transition: 1s;
    transform: scale(2);
}
.square {
    color: #fff;
    font-size: 2rem;
    transition: .5s;

    cursor: pointer;
}
.square:hover {
    transition: .5s;
    z-index: 50;
    box-shadow: 1px 1px 15px #000;
    transform: scale(1.05);
}