:root {
    font-size: 10px;
}
.container {
    display: flex;
    justify-content: center;

}
.gem-puzzle-wrapper {
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}
.square {
    width: 10rem;
    height: 10rem;
    margin: 0.1rem;

    background-color: red;
}
.cut-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}