:root {
  font-size: 10px;
}

@keyframes close {
  0% {
    left: 0;
  }
  10% {
    left: 2%;
  }
  100% {
    left: -100%;
  }
}
@keyframes open {
  0% {
    left: -100%;
  }
  90% {
    left: 2%;
  }
  100% {
    left: 0;
  }
}
body {
  background: url(../assets/background.jpg) 50% 100%;
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline: transparent;
  border: transparent;
  cursor: pointer;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.gem-puzzle-wrapper {
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  background-color: #A3A9C0;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.gem-puzzle-wrapper.finish {
  transition: 1s;
}

.square {
  color: #fff;
  font-size: 2rem;
  transition: 0.5s;
  cursor: pointer;
}

.square:hover {
  transition: 0.5s;
  z-index: 50;
  box-shadow: 1px 1px 15px #000;
}

.square__num {
  padding: 0 3%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}

.score-wrapper {
  width: 100%;
  top: 0;
  z-index: 100;
  position: absolute;
  background-color: #fff;
}

.score {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  text-align: center;
  font-size: 2.4rem;
}
.score__select {
  width: 60px;
  border-radius: 5px;
  outline: transparent;
  border: transparent;
  margin: 0 auto;
  color: #fff;
  background-color: #A3A9C0;
  font-size: 2.4rem;
  transition: 0.2s;
  cursor: pointer;
}
.score__select:hover {
  transition: 0.2s;
  letter-spacing: 1px;
}
.score__select:active {
  transform: scale(0.9);
}
.score__reload {
  width: 90%;
  border-radius: 5px;
  outline: transparent;
  border: transparent;
  margin: 0 auto;
  color: #fff;
  background-color: #A3A9C0;
  font-size: 2.4rem;
  transition: 0.2s;
  cursor: pointer;
}
.score__reload:hover {
  transition: 0.2s;
  width: 100%;
  letter-spacing: 1px;
}
.score__reload:active {
  transform: scale(0.9);
}

.wrapper-win {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.win {
  position: relative;
  text-align: center;
  color: #fff;
  z-index: 100;
  font-size: 4rem;
  padding: 10px;
  border-radius: 10px;
  background-color: #A3A9C0;
  transform: scale(0);
  transition: 1s;
}
.win__close {
  position: absolute;
  color: #fff;
  bottom: 100%;
  right: 0.5em;
  font-size: 1em;
}
.win__close:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.win.done {
  transition: 1s;
  transform: scale(1);
}

.menu-button {
  width: 90%;
  border-radius: 5px;
  outline: transparent;
  border: transparent;
  margin: 0 auto;
  color: #fff;
  background-color: #A3A9C0;
  font-size: 2.4rem;
  transition: 0.2s;
  cursor: pointer;
}

.menu-button:hover {
  transition: 0.2s;
  width: 100%;
  letter-spacing: 1px;
}

.menu-button:active {
  transform: scale(0.9);
}

.wrapper-menu {
  position: absolute;
  top: 0;
  left: -100%;
  width: 320px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  line-height: 1%;
  background-color: rgba(163, 169, 192, 0.5);
}

.wrapper-menu.open {
  animation-name: open;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.wrapper-menu.close {
  animation-name: close;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu button {
  width: 90%;
  border-radius: 5px;
  outline: transparent;
  border: transparent;
  margin: 0 auto;
  color: #fff;
  background-color: #A3A9C0;
  font-size: 2.4rem;
  transition: 0.2s;
  cursor: pointer;
  margin: 1rem 0;
}
.menu button:hover {
  transition: 0.2s;
  width: 100%;
  letter-spacing: 1px;
}
.menu button:active {
  transform: scale(0.9);
}